
{% set defaultimg = fn('asset_url',"no_image_1200x627.png","/img/default/") | relative %}
{% set medium_logo  =  site.theme.theme_mod('basic-logos-callout-medium_logo') | default(defaultimg) %}
{% set logo_100_x_100  =  site.theme.theme_mod('basic-logos-callout-logo_100_x_100') | default(defaultimg) %}
{% set h1    =  site.theme.theme_mod('basic-main_edit-callout-h1') %}
{% set h1_subtext    =  site.theme.theme_mod('basic-main_edit-callout-h1_subtext') %}
{% set h1_phone    =  site.theme.theme_mod('basic-main_edit-callout-h1_phone') %}


{% set meta_seo_home_title                  =  site.theme.theme_mod('meta_seo_homepage_title') %}
{% set meta_seo_home_desc                   =  site.theme.theme_mod('meta_seo_homepage_description') %}
{% set meta_seo_doctors_list_title          =  site.theme.theme_mod('meta_seo_doctors_list_title') %}
{% set meta_seo_doctors_list_desc           =  site.theme.theme_mod('meta_seo_doctors_list_description') %}


{% block html_head %}
	{% include 'main/html-head.twig' %}
{% endblock %}

{% block head %}

</head>{% endblock %}
<body>
	{% include 'main/html-header.twig' %}

{% block grid_content %}{% endblock %}


	{% block footer %}
		{% include 'main/html-footer.twig' %}
	{% endblock %}

{{ function('wp_footer') }}

</body></html>