{% extends "base.twig" %}

{% block grid_content %}

	{% include 'main/home/hero1.twig' %}


    <main>

	{% include 'main/home/why-us.twig' %}
	{% include 'main/home/our-best-doctors.twig' %}
	{% include 'main/home/customers.twig' %}
	{% include 'main/home/articles.twig' %}

    </main>



{% endblock %}
